* {
  margin:0;
  padding:0;
  text-decoration:none;}

  .header {
    @media only screen and (max-width: 450px) {
      display: block;
      &--item {
        width: 100%;
        margin-top: 10px;
      }
    }
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 5px;
    &--item {
      background-color: #c4ccdf;
      color: #495164;
      padding: 10px 15px;
      border: none;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-right: 15px;
    }
  }
  .nav {
    width: 100%;
    height: 200px;
    &--img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    display: flex;
    
    margin: 25px;
    @media only screen and (max-width: 800px) {
      flex-direction:column-reverse;
    }
    @media only screen and (max-width: 450px) {
      flex-direction:unset;
    }
    &--left {
      &--title {
      
      }
      &--desc {

      }
    }
    &--right {
      border: 1px solid;
      height: 150px;
      width: 150px;
      padding: 10px;
      &--img {
        width: 100%;
        height: 100%;
      }
    }
  }